.about__container {
  display: flex;
  padding-top: 120px;
  padding-bottom: 122px;
  width: 100%;

  @include vp-1023 {
    padding-top: 100px;
    padding-bottom: 94px;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.about__description-middle {
  width: 52%;
  height: auto;

  @include vp-767 {
    width: 100%;
  }
}

.about__description-wrapper {
  padding-top: 23px;
  padding-right: 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  @include vp-1279 {
    padding-top: 0;
    padding-right: 30px;
  }

  @include vp-767 {
    width: 100%;
    padding-right: 0;
  }
}

.about__description-wrapper h2 {
  font-size: 28px;
  line-height: 42px;
  font-family: $ff-placeholder-semibold;
  margin-top: -10px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 36px;
  }

  @include vp-767 {
    font-size: 24px;
    margin-top: 0;
    padding-top: 54px;
  }
}

.about__description-wrapper p {
  font-size: 16px;
  line-height: 24px;
  max-width: 512px;
  margin-top: 2px;

  @include vp-1023 {
    margin-top: -6px;
    margin-bottom: 0;
  }

  @include vp-767 {
    padding-bottom: 32px;
  }
}

.about__description-wrapper h2 br {
  display: none;

  @include vp-1023 {
    display: block;
  }
}

.about__image-wrapper {
  width: 48%;

  @include vp-767 {
    width: 100%;
    padding-bottom: 65px;
  }
}

.about__image-wrapper img {
  object-fit: cover;

  @include vp-1023 {
    width: 324px;
    height: 264px;
  }

  @include vp-767 {
    width: 290px;
    height: 186px;
  }
}

.about__description-wrapper p br {
  display: none;

  @include vp-1023 {
    display: block;
  }

  @include vp-767 {
    display: none;
  }
}
