.about__container img {
  @include vp-769 {
    display: none;
  }
}

.about__info-wrapper h2 {
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
}

.about__info-wrapper p {
  font-family: $ff-placeholder-decorative-regular;
}

.about__button {
  width: 180px;
  height: 45px;
  border: 1px solid $color-blue;
  border-radius: 3px;
  background-color: $color-default-white;
  color: $color-blue;
}
