.advantages__list {
  max-width: 1222px;
  padding-top: 120px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 31px;
  column-gap: 31px;
  grid-template-rows: min-content min-content;

  @include vp-1023 {
    padding-top: 80px;
    padding-bottom: 80px;
    row-gap: 30px;
    column-gap: 29px;
  }

  @include vp-767 {
    row-gap: 0;
    padding-top: 50px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.advantages__item {
  min-width: 270px;
  min-height: 300px;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid $color-light-grey;
  border-left: 5px solid $color-blue;
  padding: 40px 45px;
  padding-left: 41px;
  padding-bottom: 19px;
  cursor: pointer;

  &:hover {
    background-color: $color-blue;
  }

  @include vp-1023 {
    padding: 40px;
    padding-bottom: 16px;
    min-height: 360px;
  }

  @include vp-767 {
    padding: 30px 30px 35px 25px;
    margin-bottom: 30px;
    height: min-content;
    max-height: 340px;
    min-height: 325px;
    min-width: min-content;
  }
}

.advantages__item:hover .advantages__icon,
.advantages__item:focus .advantages__icon {
  fill: $color-font-white;
}

.advantages__icon {
  @include vp-767 {
    width: 30px;
    height: 30px;
  }
}

.advantages__item h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: $color-blue;
  margin-top: 14px;

  @include vp-1023 {
    margin-top: 8px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 32px;
    margin-top: 7px;
  }
}

.advantages__item:hover h3,
.advantages__item:focus h3 {
  color: $color-font-white;
}

.advantages__item p {
  font-size: 16px;
  line-height: 22px;
  font-family: $ff-placeholder-decorative-regular;
  color: $color-default-black;
  min-height: 120px;
  margin-top: -12px;

  @include vp-1023 {
    margin-top: -17px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
    margin-top: -13px;
    height: min-content;
    padding-bottom: 23px;
  }
}

.advantages__item:hover p {
  color: $color-font-white;
  opacity: 1;
}
