.advantages__list {
  max-width: 1189px;
  padding-top: 120px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 31px;
  column-gap: 31px;
  grid-template-rows: 1fr 1fr;

  @include vp-1023 {
    padding-top: 80px;
    padding-bottom: 80px;
    row-gap: 30px;
    column-gap: 29px;
  }

  @include vp-769 {
    padding-top: 50px;
    padding-bottom: 50px;
    grid-template-columns: 100%;
  }
}

.advantages__item {
  min-width: 270px;
  min-height: 300px;
  box-sizing: border-box;
  border: 1px solid $color-light-grey;
  border-left: 5px solid $color-blue;
  padding: 40px 45px;
  padding-left: 41px;
  padding-bottom: 19px;
  cursor: pointer;

  &:hover {
    background-color: $color-blue;
  }

  &:focus {
    background-color: $color-card-focus;
  }

  @include vp-1023 {
    padding: 40px;
  }

  @include vp-769 {
    padding: 30px 30px 13px 25px;
  }
}

.advantages__item:hover .advantages__icon,
.advantages__item:focus .advantages__icon {
  fill: $color-font-white;
}

.advantages__icon {
  @include vp-769 {
    width: 30px;
    height: 30px;
  }
}

.advantages__item h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: $color-blue;
  margin-top: 14px;

  @include vp-769 {
    font-size: 20px;
    line-height: 28px;
    margin-top: 7px;
  }
}

.advantages__item:hover h3,
.advantages__item:focus h3 {
  color: $color-font-white;
}

.advantages__item p {
  font-size: 16px;
  line-height: 22px;
  font-family: $ff-placeholder-decorative-regular;
  color: $color-default-black;
  height: 120px;
  overflow: hidden;
  overflow-y: auto;
  margin-top: -12px;

  @include vp-1023 {
    height: 190px;
  }

  @include vp-769 {
    font-size: 14px;
    line-height: 19px;
    margin-top: -10px;
    height: 171px;
  }
}

.advantages__item:hover p,
.advantages__item:focus p {
  color: $color-font-white;
  opacity: 1;
}

.advantages__item p:focus {
  background-color: $color-card-focus;
  color: $color-font-white;
}
