.contacts__container {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @include vp-1023 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    flex-direction: column-reverse;
    padding-top: 41px;
    padding-bottom: 65px;
    height: 704px;
  }
}

.contacts__map-wrapper {
  background-image: url("../img/gallery/content/map/map-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 560px;
  height: 306px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 22px;
    top: 217px;
    left: 249px;
    background-image: url("../img/svg/point.svg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;

    @include vp-1169 {
      top: 218px;
      left: 109px;
    }

    @include vp-767 {
      top: 224px;
      left: 112px;
    }
  }

  @include vp-1169 {
    background-image: url("../img/gallery/content/map/map-tablet@1x.jpg");
    max-width: 324px;
    min-width: 324px;
    height: 335px;
  }

  @include vp-767 {
    background-image: url("../img/gallery/content/map/map-mobile@1x.jpg");
    max-width: 290px;
    min-width: 290px;
    height: 316px;
  }

  @include retina {
    @include vp-1919 {
      background-image: url("../img/gallery/content/map/map-desktop@2x.jpg");
    }

    @include vp-1023 {
      background-image: url("../img/gallery/content/map/map-tablet@2x.jpg");
    }

    @include vp-767 {
      background-image: url("../img/gallery/content/map/map-mobile@2x.jpg");
    }
  }
}

.contacts__map {
  width: 560px;
  height: 306px;

  @include vp-1169 {
    max-width: 324px;
    height: 335px;
  }

  @include vp-767 {
    max-width: 290px;
    height: 316px;
  }
}

.contacts__map--desktop {
  @include vp-1169 {
    display: none;
  }
}

.contacts__map--tablet {
  display: none;

  @include vp-1169 {
    display: block;
  }

  @include vp-767 {
    display: none;
  }
}

.contacts__map--mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.contacts__description-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 530px;
  height: 235px;
  justify-content: flex-start;
  padding-left: 30px;
  box-sizing: border-box;

  @include vp-767 {
    width: 290px;
    padding-left: 0;
  }
}

.contacts__description-wrapper p {
  padding-top: 22px;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  font-family: $ff-placeholder-semibold;
  font-weight: 500;

  @include vp-1279 {
    padding-top: 5px;
  }

  @include vp-1023 {
    padding-top: 0;
  }
}

.contacts__description-wrapper span {
  font-size: 16px;
  line-height: 24px;
  padding-left: 29px;
  padding-bottom: 21px;
  display: block;
  margin-top: 14px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url("../img/svg/point.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include vp-1023 {
      top: 3px;
    }
  }

  @include vp-1023 {
    margin-top: 8px;
  }
}

.contacts__description-wrapper a {
  font-size: 16px;
  line-height: 24px;
  padding-left: 29px;
  display: block;
  position: relative;
  width: 174px;

  &:hover {
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: fill-available;
      background-color: $color-dark-blue;
      top: 23px;
      left: 0;
    }
  }

  &:focus {
    background-color: $color-grey;
  }

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    background-image: url("../img/svg/phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.contacts__description-wrapper p br {
  display: none;

  @include vp-1279 {
    display: block;
  }

  @include vp-767 {
    display: none;
  }
}

.contacts__description-wrapper span br {
  display: none;

  @include vp-1279 {
    display: block;
  }
}
