.product {
  background-color: $color-very-dark;
}

.product__container {
  padding: 70px 75px 143px 75px;

  @include vp-1023 {
    padding: 60px 50px 65px 50px;
  }

  @include vp-767 {
    padding: 50px 25px 72px 25px;
  }
}

.product__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 7%;
  row-gap: 85px;

  @include vp-1023 {
    margin: 0 auto;
    margin-top: -12px;
    display: flex;
    flex-direction: column;
    column-gap: 0;
    row-gap: 0;
  }

  @include vp-767 {
    width: 100%;
  }
}

.product__container h2 {
  color: $color-font-white;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  margin-top: -5px;

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    width: 250px;
  }
}

.product__card {
  display: block;
  width: 100%;
  height: 650px;
  background-color: $color-card-background;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @include vp-1023 {
    width: 670px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  @include vp-767 {
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 13px;
  }

  &:focus {
    outline: 5px solid $color-dark-grey;
  }
}

.product__card--manufacture {
  background-image: url("../img/gallery/background/cards/manufacture-desktop@1x.jpg");

  @include vp-1023 {
    background-image: url("../img/gallery/background/cards/manufacture-tablet@1x.jpg");
  }

  @include vp-767 {
    background-image: url("../img/gallery/background/cards/manufacture-mobile@1x.jpg");
  }

  @include retina {
    @include vp-1919 {
      background-image: url("../img/gallery/background/cards/manufacture-desktop@2x.jpg");
    }

    @include vp-1023 {
      background-image: url("../img/gallery/background/cards/manufacture-tablet@2x.jpg");
    }

    @include vp-767 {
      background-image: url("../img/gallery/background/cards/manufacture-mobile@2x.jpg");
    }
  }
}

.product__card--mounting {
  background-image: url("../img/gallery/background/cards/mounting-desktop@1x.jpg");

  @include vp-1023 {
    background-image: url("../img/gallery/background/cards/mounting-tablet@1x.jpg");
  }

  @include vp-767 {
    background-image: url("../img/gallery/background/cards/mounting-mobile@1x.jpg");
  }

  @include retina {
    @include vp-1919 {
      background-image: url("../img/gallery/background/cards/mounting-desktop@2x.jpg");
    }

    @include vp-1023 {
      background-image: url("../img/gallery/background/cards/mounting-tablet@2x.jpg");
    }

    @include vp-767 {
      background-image: url("../img/gallery/background/cards/mounting-mobile@2x.jpg");
    }
  }
}

.product__card--accessories {
  background-image: url("../img/gallery/background/cards/accessories-desktop@1x.jpg");

  @include vp-1023 {
    background-image: url("../img/gallery/background/cards/accessories-tablet@1x.jpg");
  }

  @include vp-767 {
    background-image: url("../img/gallery/background/cards/accessories-mobile@1x.jpg");
  }

  @include retina {
    @include vp-1919 {
      background-image: url("../img/gallery/background/cards/accessories-desktop@2x.jpg");
    }

    @include vp-1023 {
      background-image: url("../img/gallery/background/cards/accessories-tablet@2x.jpg");
    }

    @include vp-767 {
      background-image: url("../img/gallery/background/cards/accessories-mobile@2x.jpg");
    }
  }
}

.product__card h3 {
  padding-top: 46px;
  padding-left: 40px;
  color: $color-font-white;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  width: 200px;

  @include vp-1023 {
    padding-top: 39px;
    padding-left: 45px;
    width: 195px;
  }

  @include vp-767 {
    font-size: 18px;
    padding-top: 27px;
    padding-left: 30px;
    width: 164px;
  }
}

.product__icon {
  position: absolute;
  bottom: 0;
  right: 0;

  @include vp-1023 {
    position: relative;
    bottom: -70px;
    left: 610px;
  }

  @include vp-767 {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    bottom: 0;
    left: auto;
    right: 1px;
  }
}

.product__card:hover .product__icon {
  fill: $color-card-background;
}
