.header {
  grid-row: 1/2;
  grid-column: 1/2;
}

.header__container {
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  position: fixed;
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-1023 {
    position: static;
  }
}

.header__link {
  pointer-events: none;
}

.header__logo {
  display: block;

  @include vp-769 {
    display: none;
  }
}

.header__logo--mobile {
  display: none;

  @include vp-769 {
    display: block;
  }
}

.header__list {
  display: flex;
  justify-content: space-between;
}

.header__item a {
  font-family: $ff-placeholder-decorative-regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: block;
  color: $color-font-white;

  @include vp-1023 {
    width: 20px;
    height: 20px;
    overflow: hidden;
    padding-left: 23px;
  }
}

.header__item {
  margin-right: 60px;
}

.header__item--email a {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: -1px;
    left: -31px;
    background-color: $color-transparent;
    background-image: url("../img/svg/envelope.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include vp-1023 {
      top: 0px;
      left: 1px;
    }
  }
}

.header__item--phone a {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: -1px;
    left: -31px;
    background-color: $color-transparent;
    background-image: url("../img/svg/phone.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include vp-1023 {
      top: 0px;
      left: 1px;
    }
  }
}

.header__button-link {
  font-size: 14px;
  line-height: 17px;
  background-color: $color-transparent;
  border: 1px solid $color-font-white;
  border-radius: 3px;
  color: $color-font-white;
  width: 160px;
  height: 40px;
  padding-top: 9px;

  @include vp-1023 {
    display: none;
  }
}
