.footer {
  grid-row: 3/4;
  grid-column: 1/2;
  background-color: $color-very-dark;
}

.footer__container {
  min-height: 280px;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 5px;
  box-sizing: border-box;

  @include vp-1365 {
    padding: 50px;
    min-height: 460px;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr 1fr;
  }

  @include vp-1023 {
    padding-top: 50px;
  }

  @include vp-767 {
    padding: 35px 25px 26px 25px;
    min-height: 310px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &::after {
      position: absolute;
      content: "";
      bottom: 34px;
      left: -200px;
      width: 1000px;
      height: 1px;
      background-color: $color-font-white;
      opacity: 0.7;
    }
  }
}

.footer__icons-wrapper {
  width: 215px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 158px;

  @include vp-1365 {
    width: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 23px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    padding-bottom: 25px;
  }
}

.footer__sochials-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;

  @include vp-1023 {
    padding-left: 0;
    margin-top: -13px;
    margin-right: -5px;
  }

  @include vp-767 {
    padding-top: 13px;
    margin-top: -5px;
    margin-left: -17px;
  }
}

.footer__sochials-item {
  margin-right: 15px;

  @include vp-1365 {
    margin-right: 20px;
  }

  @include vp-1023 {
    margin-left: 15px;
    margin-right: 0;
  }
}

.footer__sochials-pic:hover {
  fill: $color-blue;
}

.footer__sochials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.footer__sochials-link:focus .footer__sochials-pic {
  fill: $color-card-focus;
}

.footer__link-logo {
  padding-bottom: 22px;

  @include vp-1365 {
    padding-bottom: 0;
  }

  @include vp-767 {
    margin-left: -5px;
  }
}

.footer__navigation {
  position: relative;

  @include vp-1365 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  @include vp-767 {
    width: 100%;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: -200px;
      width: 1000px;
      height: 1px;
      background-color: $color-font-white;
      opacity: 0.7;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: -200px;
      width: 1000px;
      height: 1px;
      background-color: $color-font-white;
      opacity: 0.7;
    }
  }
}

.footer__navigation-wrapper {
  width: 500px;
  position: relative;

  @include vp-1365 {
    width: 250px;
  }

  @include vp-767 {
    width: 100%;
    height: 58px;
    overflow: hidden;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.footer__container--navigation-opened .footer__navigation-wrapper {
  @include vp-767 {
    height: min-content;
  }
}

.footer__navigation-wrapper h3,
.footer__contacts-wrapper h3 {
  text-transform: uppercase;
  color: $color-font-white;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 6px;
  padding-bottom: 5px;
  letter-spacing: 1px;

  @include vp-767 {
    font-size: 14px;
    margin-top: 5px;
  }
}

.footer__contacts-wrapper h3 {
  @include vp-1023 {
    padding-left: 24px;
  }

  @include vp-767 {
    padding-left: 0;
  }
}

.footer__navigation-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: repeat(4, 40px);
  width: 500px;
  height: min-content;

  @include vp-1365 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
    // height: min-content;
  }
}

.footer__navigation-item {
  width: 250px;
  padding-right: 30px;
  box-sizing: border-box;
  margin-bottom: 6px;
}

.footer__navigation-item:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.footer__navigation-item:nth-child(3) {
  grid-column: 1/2;
  grid-row: 3/4;
}

.footer__navigation-item:nth-child(4) {
  grid-column: 1/2;
  grid-row: 4/5;
}

.footer__contacts-wrapper {
  position: relative;

  @include vp-1365 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  @include vp-767 {
    width: 100%;
    height: 58px;
    overflow: hidden;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.footer__container--contacts-opened .footer__contacts-wrapper {
  @include vp-767 {
    height: min-content;
  }
}

.footer__contacts-list {
  @include vp-1023 {
    padding-left: 24px;
  }

  @include vp-767 {
    padding-left: 0;
  }
}

.footer__contacts-item {
  width: max-content;
  height: 30px;
}

.footer__navigation-wrapper a,
.footer__contacts-wrapper a,
.footer__navigation-wrapper p,
.footer__contacts-wrapper p {
  color: $color-font-white;
  font-family: $ff-placeholder-decorative-regular;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  opacity: 0.7;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.footer__contacts-wrapper p {
  width: 346px;
  margin-top: 2px;
  margin-bottom: 8px;

  @include vp-1023 {
    padding-left: 24px;
  }

  @include vp-767 {
    width: 100%;
    padding-left: 0;
    margin-top: -1px;
    margin-bottom: 19px;
  }
}

.footer__navigation-wrapper a:hover,
.footer__contacts-wrapper a:hover {
  color: $color-blue;
}

.footer__navigation-wrapper a:focus,
.footer__contacts-wrapper a:focus {
  color: $color-card-focus;
}

.footer__button-box {
  display: flex;
  justify-content: space-between;
}

.footer__toggle {
  display: none;

  @include vp-767 {
    width: 100%;
    position: absolute;
    left: 0;
    display: block;
    height: 30px;
    border: none;
    background-color: $color-transparent;
    cursor: pointer;
    user-select: none;

    &::before {
      position: absolute;
      content: "";
      top: 11px;
      right: 0;
      width: 15px;
      height: 1px;
      background-color: $color-font-white;
    }
  }
}

.wrapper--nojs .footer__toggle {
  display: none;
}

.footer__toggle--plus {
  @include vp-767 {
    &::after {
      position: absolute;
      content: "";
      right: 7px;
      top: 4px;
      width: 1px;
      height: 15px;
      background-color: $color-font-white;
    }
  }
}

.contacts-plus-toggle,
.navigation-plus-toggle {
  @include vp-767 {
    &::after {
      position: absolute;
      content: "";
      right: 7px;
      top: 4px;
      width: 1px;
      height: 15px;
      background-color: $color-font-white;
    }
  }
}

.footer__container--navigation-opened .navigation-plus-toggle {
  @include vp-767 {
    &::after {
      display: none;
    }
  }
}

.footer__container--contacts-opened .contacts-plus-toggle {
  @include vp-767 {
    &::after {
      display: none;
    }
  }
}

.footer__toggle:hover {
  background-color: $color-input-background;

  &::after {
    background-color: $color-blue;
  }

  &::before {
    background-color: $color-blue;
  }
}

.footer__toggle:focus {
  background-color: $color-card-focus;
  opacity: 0.3;

  &::after,
  &::before {
    background-color: $color-font-white;
  }
}
